EzBookingClient/xml-resources/web-service-references/reservationWebService/wsdl/localhost_8080/EzBookingWebService/reservationWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://disprog.ubaya.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://disprog.ubaya.com/">

<xs:element name="ambil_id" type="tns:ambil_id"/>

<xs:element name="ambil_idResponse" type="tns:ambil_idResponse"/>

<xs:element name="give_rating" type="tns:give_rating"/>

<xs:element name="give_ratingResponse" type="tns:give_ratingResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertDataReservasi" type="tns:insertDataReservasi"/>

<xs:element name="insertDataReservasiResponse" type="tns:insertDataReservasiResponse"/>

<xs:element name="jumlahKetersediaanMeja" type="tns:jumlahKetersediaanMeja"/>

<xs:element name="jumlahKetersediaanMejaResponse" type="tns:jumlahKetersediaanMejaResponse"/>

<xs:element name="showListIdRestaurant" type="tns:showListIdRestaurant"/>

<xs:element name="showListIdRestaurantResponse" type="tns:showListIdRestaurantResponse"/>

<xs:element name="showListRestaurant" type="tns:showListRestaurant"/>

<xs:element name="showListRestaurantResponse" type="tns:showListRestaurantResponse"/>

<xs:element name="showReservasiUser" type="tns:showReservasiUser"/>

<xs:element name="showReservasiUserResponse" type="tns:showReservasiUserResponse"/>

<xs:complexType name="jumlahKetersediaanMeja">
<xs:sequence>
<xs:element name="idRestaurant" type="xs:int"/>
<xs:element name="tanggal_pesan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="jumlahKetersediaanMejaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataReservasi">
<xs:sequence>
<xs:element name="tanggalPemesanan" type="xs:string" minOccurs="0"/>
<xs:element name="jumlahMeja" type="xs:int"/>
<xs:element name="jumlahOrang" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="penilaianBintang" type="xs:int"/>
<xs:element name="restaurantId" type="xs:int"/>
<xs:element name="accountUsername" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataReservasiResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showReservasiUser">
<xs:sequence>
<xs:element name="accountName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showReservasiUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservasi" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservasi">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="accountUsername" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="jumlahMeja" type="xs:int"/>
<xs:element name="jumlahOrang" type="xs:int"/>
<xs:element name="penilaianBintang" type="xs:int"/>
<xs:element name="restaurant" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="tanggalPesanan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="myModel" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showListRestaurant">
<xs:sequence>
<xs:element name="filter" type="xs:string" minOccurs="0"/>
<xs:element name="value" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showListRestaurantResponse">
<xs:sequence>
<xs:element name="return" type="tns:restaurant" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restaurant">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="alamatRestaurant" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="max_table" type="xs:int"/>
<xs:element name="namaPemilik" type="xs:string" minOccurs="0"/>
<xs:element name="namaRestaurant" type="xs:string" minOccurs="0"/>
<xs:element name="totalBintang" type="xs:int"/>
<xs:element name="total_Pelanggan" type="xs:int"/>
<xs:element name="usernameRestaurant" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="give_rating">
<xs:sequence>
<xs:element name="id_reservasi" type="xs:int"/>
<xs:element name="bintang" type="xs:int"/>
<xs:element name="review" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="give_ratingResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ambil_id">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ambil_idResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showListIdRestaurant">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showListIdRestaurantResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>