EzBookingClient/xml-resources/web-service-references/ezBookingWebService/wsdl/localhost_8080/EzBookingWebService/ezBookingWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://disprog.ubaya.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://disprog.ubaya.com/">

<xs:element name="SaveReport" type="tns:SaveReport"/>

<xs:element name="SaveReportResponse" type="tns:SaveReportResponse"/>

<xs:element name="check_login" type="tns:check_login"/>

<xs:element name="check_loginResponse" type="tns:check_loginResponse"/>

<xs:element name="check_username" type="tns:check_username"/>

<xs:element name="check_usernameResponse" type="tns:check_usernameResponse"/>

<xs:element name="insertDataReservasi" type="tns:insertDataReservasi"/>

<xs:element name="insertDataReservasiResponse" type="tns:insertDataReservasiResponse"/>

<xs:element name="insertDataRestaurant" type="tns:insertDataRestaurant"/>

<xs:element name="insertDataRestaurantResponse" type="tns:insertDataRestaurantResponse"/>

<xs:element name="jumlahKetersediaanMeja" type="tns:jumlahKetersediaanMeja"/>

<xs:element name="jumlahKetersediaanMejaResponse" type="tns:jumlahKetersediaanMejaResponse"/>

<xs:element name="registrasi_account" type="tns:registrasi_account"/>

<xs:element name="registrasi_accountResponse" type="tns:registrasi_accountResponse"/>

<xs:element name="showListReservasi" type="tns:showListReservasi"/>

<xs:element name="showListReservasiResponse" type="tns:showListReservasiResponse"/>

<xs:element name="showReservasi" type="tns:showReservasi"/>

<xs:element name="showReservasiResponse" type="tns:showReservasiResponse"/>

<xs:element name="updateDataRestaurant" type="tns:updateDataRestaurant"/>

<xs:element name="updateDataRestaurantResponse" type="tns:updateDataRestaurantResponse"/>

<xs:element name="updateStatusReservasi" type="tns:updateStatusReservasi"/>

<xs:element name="updateStatusReservasiResponse" type="tns:updateStatusReservasiResponse"/>

<xs:complexType name="updateStatusReservasi">
<xs:sequence>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="idReservasi" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStatusReservasiResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataReservasi">
<xs:sequence>
<xs:element name="tanggalPemesanan" type="xs:string" minOccurs="0"/>
<xs:element name="jumlahMeja" type="xs:int"/>
<xs:element name="jumlahOrang" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="penilaianBintang" type="xs:int"/>
<xs:element name="restaurantId" type="xs:int"/>
<xs:element name="accountUsername" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataReservasiResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="jumlahKetersediaanMeja">
<xs:sequence>
<xs:element name="idRestaurant" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="jumlahKetersediaanMejaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataRestaurant">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="ownerName" type="xs:string" minOccurs="0"/>
<xs:element name="nama_resto" type="xs:string" minOccurs="0"/>
<xs:element name="alamat" type="xs:string" minOccurs="0"/>
<xs:element name="max_table" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataRestaurantResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDataRestaurant">
<xs:sequence>
<xs:element name="ownerName" type="xs:string" minOccurs="0"/>
<xs:element name="nama_resto" type="xs:string" minOccurs="0"/>
<xs:element name="alamat" type="xs:string" minOccurs="0"/>
<xs:element name="max_table" type="xs:int"/>
<xs:element name="id_restaurant" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDataRestaurantResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrasi_account">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrasi_accountResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showListReservasi">
<xs:sequence>
<xs:element name="idRestaurant" type="xs:int"/>
<xs:element name="usernameAccount" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showListReservasiResponse">
<xs:sequence>
<xs:element name="return" type="tns:report" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="report">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="account_username" type="xs:string" minOccurs="0"/>
<xs:element name="foodQuality" type="xs:double"/>
<xs:element name="idRestaurant" type="xs:int"/>
<xs:element name="qualityOfService" type="xs:double"/>
<xs:element name="review" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="myModel" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showReservasi">
<xs:sequence>
<xs:element name="idRestaurant" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showReservasiResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservasi" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservasi">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="accountUsername" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="jumlahMeja" type="xs:int"/>
<xs:element name="jumlahOrang" type="xs:int"/>
<xs:element name="penilaianBintang" type="xs:int"/>
<xs:element name="restaurant" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="tanggalPesanan" type="tns:date" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="date">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="check_username">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="check_usernameResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="check_login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="check_loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="account">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="SaveReport">
<xs:sequence>
<xs:element name="account_username" type="xs:string" minOccurs="0"/>
<xs:element name="id_resto" type="xs:int"/>
<xs:element name="qualityOfService" type="xs:double"/>
<xs:element name="food_quality" type="xs:double"/>
<xs:element name="review" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SaveReportResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>