EzBookingClient/xml-resources/web-service-references/loginWebService/wsdl/localhost_8080/EzBookingWebService/loginWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://disprog.ubaya.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://disprog.ubaya.com/" name="loginWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://disprog.ubaya.com/" schemaLocation="http://localhost:8080/EzBookingWebService/loginWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="registrasi_account">
<part name="parameters" element="tns:registrasi_account"/>
</message>
<message name="registrasi_accountResponse">
<part name="parameters" element="tns:registrasi_accountResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="check_username">
<part name="parameters" element="tns:check_username"/>
</message>
<message name="check_usernameResponse">
<part name="parameters" element="tns:check_usernameResponse"/>
</message>
<message name="check_login">
<part name="parameters" element="tns:check_login"/>
</message>
<message name="check_loginResponse">
<part name="parameters" element="tns:check_loginResponse"/>
</message>
<portType name="loginWebService">
<operation name="registrasi_account">
<input wsam:Action="http://disprog.ubaya.com/loginWebService/registrasi_accountRequest" message="tns:registrasi_account"/>
<output wsam:Action="http://disprog.ubaya.com/loginWebService/registrasi_accountResponse" message="tns:registrasi_accountResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://disprog.ubaya.com/loginWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://disprog.ubaya.com/loginWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="check_username">
<input wsam:Action="http://disprog.ubaya.com/loginWebService/check_usernameRequest" message="tns:check_username"/>
<output wsam:Action="http://disprog.ubaya.com/loginWebService/check_usernameResponse" message="tns:check_usernameResponse"/>
</operation>
<operation name="check_login">
<input wsam:Action="http://disprog.ubaya.com/loginWebService/check_loginRequest" message="tns:check_login"/>
<output wsam:Action="http://disprog.ubaya.com/loginWebService/check_loginResponse" message="tns:check_loginResponse"/>
</operation>
</portType>
<binding name="loginWebServicePortBinding" type="tns:loginWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registrasi_account">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="check_username">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="check_login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="loginWebService">
<port name="loginWebServicePort" binding="tns:loginWebServicePortBinding">
<soap:address location="http://localhost:8080/EzBookingWebService/loginWebService"/>
</port>
</service>
</definitions>