EzBookingClient/src/META-INF/wsdl/localhost_8080/EzBookingWebService/ezBookingWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://disprog.ubaya.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://disprog.ubaya.com/">

<xs:element name="insertDataReservasi" type="tns:insertDataReservasi"/>

<xs:element name="insertDataReservasiResponse" type="tns:insertDataReservasiResponse"/>

<xs:complexType name="insertDataReservasi">
<xs:sequence>
<xs:element name="tanggalPemesanan" type="xs:string" minOccurs="0"/>
<xs:element name="jumlahMeja" type="xs:int"/>
<xs:element name="jumlahOrang" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="penilaianBintang" type="xs:int"/>
<xs:element name="restaurantId" type="xs:int"/>
<xs:element name="accountUsername" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataReservasiResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>