EzBookingClient/src/META-INF/wsdl/localhost_8080/EzBookingWebService/ezBookingWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://disprog.ubaya.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://disprog.ubaya.com/" name="ezBookingWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://disprog.ubaya.com/" schemaLocation="http://localhost:8080/EzBookingWebService/ezBookingWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="check_username">
<part name="parameters" element="tns:check_username"/>
</message>
<message name="check_usernameResponse">
<part name="parameters" element="tns:check_usernameResponse"/>
</message>
<message name="GetIdRestaurant">
<part name="parameters" element="tns:GetIdRestaurant"/>
</message>
<message name="GetIdRestaurantResponse">
<part name="parameters" element="tns:GetIdRestaurantResponse"/>
</message>
<message name="showReport">
<part name="parameters" element="tns:showReport"/>
</message>
<message name="showReportResponse">
<part name="parameters" element="tns:showReportResponse"/>
</message>
<message name="check_login">
<part name="parameters" element="tns:check_login"/>
</message>
<message name="check_loginResponse">
<part name="parameters" element="tns:check_loginResponse"/>
</message>
<message name="showReservasi">
<part name="parameters" element="tns:showReservasi"/>
</message>
<message name="showReservasiResponse">
<part name="parameters" element="tns:showReservasiResponse"/>
</message>
<message name="SaveReport">
<part name="parameters" element="tns:SaveReport"/>
</message>
<message name="SaveReportResponse">
<part name="parameters" element="tns:SaveReportResponse"/>
</message>
<message name="ambil_id">
<part name="parameters" element="tns:ambil_id"/>
</message>
<message name="ambil_idResponse">
<part name="parameters" element="tns:ambil_idResponse"/>
</message>
<message name="updateStatusReservasi">
<part name="parameters" element="tns:updateStatusReservasi"/>
</message>
<message name="updateStatusReservasiResponse">
<part name="parameters" element="tns:updateStatusReservasiResponse"/>
</message>
<message name="insertDataReservasi">
<part name="parameters" element="tns:insertDataReservasi"/>
</message>
<message name="insertDataReservasiResponse">
<part name="parameters" element="tns:insertDataReservasiResponse"/>
</message>
<message name="insertDataRestaurant">
<part name="parameters" element="tns:insertDataRestaurant"/>
</message>
<message name="insertDataRestaurantResponse">
<part name="parameters" element="tns:insertDataRestaurantResponse"/>
</message>
<message name="jumlahKetersediaanMeja">
<part name="parameters" element="tns:jumlahKetersediaanMeja"/>
</message>
<message name="jumlahKetersediaanMejaResponse">
<part name="parameters" element="tns:jumlahKetersediaanMejaResponse"/>
</message>
<message name="showListAllIdRestaurant">
<part name="parameters" element="tns:showListAllIdRestaurant"/>
</message>
<message name="showListAllIdRestaurantResponse">
<part name="parameters" element="tns:showListAllIdRestaurantResponse"/>
</message>
<message name="showListReservasi">
<part name="parameters" element="tns:showListReservasi"/>
</message>
<message name="showListReservasiResponse">
<part name="parameters" element="tns:showListReservasiResponse"/>
</message>
<message name="showListDataRestaurant">
<part name="parameters" element="tns:showListDataRestaurant"/>
</message>
<message name="showListDataRestaurantResponse">
<part name="parameters" element="tns:showListDataRestaurantResponse"/>
</message>
<message name="registrasi_account">
<part name="parameters" element="tns:registrasi_account"/>
</message>
<message name="registrasi_accountResponse">
<part name="parameters" element="tns:registrasi_accountResponse"/>
</message>
<message name="showReservasiUser">
<part name="parameters" element="tns:showReservasiUser"/>
</message>
<message name="showReservasiUserResponse">
<part name="parameters" element="tns:showReservasiUserResponse"/>
</message>
<message name="showListRestaurant">
<part name="parameters" element="tns:showListRestaurant"/>
</message>
<message name="showListRestaurantResponse">
<part name="parameters" element="tns:showListRestaurantResponse"/>
</message>
<message name="showListIdRestaurant">
<part name="parameters" element="tns:showListIdRestaurant"/>
</message>
<message name="showListIdRestaurantResponse">
<part name="parameters" element="tns:showListIdRestaurantResponse"/>
</message>
<message name="showRestaurantWithFilterForAdmin">
<part name="parameters" element="tns:showRestaurantWithFilterForAdmin"/>
</message>
<message name="showRestaurantWithFilterForAdminResponse">
<part name="parameters" element="tns:showRestaurantWithFilterForAdminResponse"/>
</message>
<message name="updateDataRestaurant">
<part name="parameters" element="tns:updateDataRestaurant"/>
</message>
<message name="updateDataRestaurantResponse">
<part name="parameters" element="tns:updateDataRestaurantResponse"/>
</message>
<portType name="ezBookingWebService">
<operation name="check_username">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/check_usernameRequest" message="tns:check_username"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/check_usernameResponse" message="tns:check_usernameResponse"/>
</operation>
<operation name="GetIdRestaurant">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/GetIdRestaurantRequest" message="tns:GetIdRestaurant"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/GetIdRestaurantResponse" message="tns:GetIdRestaurantResponse"/>
</operation>
<operation name="showReport">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showReportRequest" message="tns:showReport"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showReportResponse" message="tns:showReportResponse"/>
</operation>
<operation name="check_login">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/check_loginRequest" message="tns:check_login"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/check_loginResponse" message="tns:check_loginResponse"/>
</operation>
<operation name="showReservasi">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showReservasiRequest" message="tns:showReservasi"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showReservasiResponse" message="tns:showReservasiResponse"/>
</operation>
<operation name="SaveReport">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/SaveReportRequest" message="tns:SaveReport"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/SaveReportResponse" message="tns:SaveReportResponse"/>
</operation>
<operation name="ambil_id">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/ambil_idRequest" message="tns:ambil_id"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/ambil_idResponse" message="tns:ambil_idResponse"/>
</operation>
<operation name="updateStatusReservasi">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/updateStatusReservasiRequest" message="tns:updateStatusReservasi"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/updateStatusReservasiResponse" message="tns:updateStatusReservasiResponse"/>
</operation>
<operation name="insertDataReservasi">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/insertDataReservasiRequest" message="tns:insertDataReservasi"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/insertDataReservasiResponse" message="tns:insertDataReservasiResponse"/>
</operation>
<operation name="insertDataRestaurant">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/insertDataRestaurantRequest" message="tns:insertDataRestaurant"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/insertDataRestaurantResponse" message="tns:insertDataRestaurantResponse"/>
</operation>
<operation name="jumlahKetersediaanMeja">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/jumlahKetersediaanMejaRequest" message="tns:jumlahKetersediaanMeja"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/jumlahKetersediaanMejaResponse" message="tns:jumlahKetersediaanMejaResponse"/>
</operation>
<operation name="showListAllIdRestaurant">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showListAllIdRestaurantRequest" message="tns:showListAllIdRestaurant"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showListAllIdRestaurantResponse" message="tns:showListAllIdRestaurantResponse"/>
</operation>
<operation name="showListReservasi">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showListReservasiRequest" message="tns:showListReservasi"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showListReservasiResponse" message="tns:showListReservasiResponse"/>
</operation>
<operation name="showListDataRestaurant">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showListDataRestaurantRequest" message="tns:showListDataRestaurant"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showListDataRestaurantResponse" message="tns:showListDataRestaurantResponse"/>
</operation>
<operation name="registrasi_account">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/registrasi_accountRequest" message="tns:registrasi_account"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/registrasi_accountResponse" message="tns:registrasi_accountResponse"/>
</operation>
<operation name="showReservasiUser">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showReservasiUserRequest" message="tns:showReservasiUser"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showReservasiUserResponse" message="tns:showReservasiUserResponse"/>
</operation>
<operation name="showListRestaurant">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showListRestaurantRequest" message="tns:showListRestaurant"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showListRestaurantResponse" message="tns:showListRestaurantResponse"/>
</operation>
<operation name="showListIdRestaurant">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showListIdRestaurantRequest" message="tns:showListIdRestaurant"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showListIdRestaurantResponse" message="tns:showListIdRestaurantResponse"/>
</operation>
<operation name="showRestaurantWithFilterForAdmin">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showRestaurantWithFilterForAdminRequest" message="tns:showRestaurantWithFilterForAdmin"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/showRestaurantWithFilterForAdminResponse" message="tns:showRestaurantWithFilterForAdminResponse"/>
</operation>
<operation name="updateDataRestaurant">
<input wsam:Action="http://disprog.ubaya.com/ezBookingWebService/updateDataRestaurantRequest" message="tns:updateDataRestaurant"/>
<output wsam:Action="http://disprog.ubaya.com/ezBookingWebService/updateDataRestaurantResponse" message="tns:updateDataRestaurantResponse"/>
</operation>
</portType>
<binding name="ezBookingWebServicePortBinding" type="tns:ezBookingWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="check_username">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetIdRestaurant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showReport">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="check_login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showReservasi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SaveReport">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ambil_id">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStatusReservasi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertDataReservasi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertDataRestaurant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="jumlahKetersediaanMeja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showListAllIdRestaurant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showListReservasi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showListDataRestaurant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrasi_account">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showReservasiUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showListRestaurant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showListIdRestaurant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showRestaurantWithFilterForAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateDataRestaurant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ezBookingWebService">
<port name="ezBookingWebServicePort" binding="tns:ezBookingWebServicePortBinding">
<soap:address location="http://localhost:8080/EzBookingWebService/ezBookingWebService"/>
</port>
</service>
</definitions>