EzBookingClient/src/META-INF/wsdl/localhost_8080/EzBookingWebService/menuWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://disprog.ubaya.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://disprog.ubaya.com/">

<xs:element name="GetIdRestaurant" type="tns:GetIdRestaurant"/>

<xs:element name="GetIdRestaurantResponse" type="tns:GetIdRestaurantResponse"/>

<xs:element name="ambil_menu" type="tns:ambil_menu"/>

<xs:element name="ambil_menuResponse" type="tns:ambil_menuResponse"/>

<xs:element name="editMenu" type="tns:editMenu"/>

<xs:element name="editMenuResponse" type="tns:editMenuResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="lihatMenu" type="tns:lihatMenu"/>

<xs:element name="lihatMenuResponse" type="tns:lihatMenuResponse"/>

<xs:element name="tambahMenu" type="tns:tambahMenu"/>

<xs:element name="tambahMenuResponse" type="tns:tambahMenuResponse"/>

<xs:element name="tambahOrder" type="tns:tambahOrder"/>

<xs:element name="tambahOrderResponse" type="tns:tambahOrderResponse"/>

<xs:complexType name="tambahOrder">
<xs:sequence>
<xs:element name="resto_id" type="xs:int"/>
<xs:element name="reserve_id" type="xs:int"/>
<xs:element name="jumlah_pesanan" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tambahOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetIdRestaurant">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetIdRestaurantResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tambahMenu">
<xs:sequence>
<xs:element name="nama_menu" type="xs:string" minOccurs="0"/>
<xs:element name="jenis_menu" type="xs:string" minOccurs="0"/>
<xs:element name="harga" type="xs:int"/>
<xs:element name="resto_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tambahMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ambil_menu">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ambil_menuResponse">
<xs:sequence>
<xs:element name="return" type="tns:menu" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="menu">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="harga" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="jenis_menu" type="xs:string" minOccurs="0"/>
<xs:element name="nama_menu" type="xs:string" minOccurs="0"/>
<xs:element name="resto_id" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="myModel" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="editMenu">
<xs:sequence>
<xs:element name="nama_menu" type="xs:string" minOccurs="0"/>
<xs:element name="jenis_menu" type="xs:string" minOccurs="0"/>
<xs:element name="harga" type="xs:int"/>
<xs:element name="resto_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lihatMenu">
<xs:sequence>
<xs:element name="id_resto" type="xs:int"/>
<xs:element name="Filter" type="xs:string" minOccurs="0"/>
<xs:element name="Value" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lihatMenuResponse">
<xs:sequence>
<xs:element name="return" type="tns:menu" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>