EzBookingClient/src/META-INF/wsdl/localhost_8080/EzBookingWebService/menuWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://disprog.ubaya.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://disprog.ubaya.com/" name="menuWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://disprog.ubaya.com/" schemaLocation="http://localhost:8080/EzBookingWebService/menuWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="lihatMenu">
<part name="parameters" element="tns:lihatMenu"/>
</message>
<message name="lihatMenuResponse">
<part name="parameters" element="tns:lihatMenuResponse"/>
</message>
<message name="editMenu">
<part name="parameters" element="tns:editMenu"/>
</message>
<message name="editMenuResponse">
<part name="parameters" element="tns:editMenuResponse"/>
</message>
<message name="tambahMenu">
<part name="parameters" element="tns:tambahMenu"/>
</message>
<message name="tambahMenuResponse">
<part name="parameters" element="tns:tambahMenuResponse"/>
</message>
<message name="tambahOrder">
<part name="parameters" element="tns:tambahOrder"/>
</message>
<message name="tambahOrderResponse">
<part name="parameters" element="tns:tambahOrderResponse"/>
</message>
<portType name="menuWebService">
<operation name="hello">
<input wsam:Action="http://disprog.ubaya.com/menuWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://disprog.ubaya.com/menuWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="lihatMenu">
<input wsam:Action="http://disprog.ubaya.com/menuWebService/lihatMenuRequest" message="tns:lihatMenu"/>
<output wsam:Action="http://disprog.ubaya.com/menuWebService/lihatMenuResponse" message="tns:lihatMenuResponse"/>
</operation>
<operation name="editMenu">
<input wsam:Action="http://disprog.ubaya.com/menuWebService/editMenuRequest" message="tns:editMenu"/>
<output wsam:Action="http://disprog.ubaya.com/menuWebService/editMenuResponse" message="tns:editMenuResponse"/>
</operation>
<operation name="tambahMenu">
<input wsam:Action="http://disprog.ubaya.com/menuWebService/tambahMenuRequest" message="tns:tambahMenu"/>
<output wsam:Action="http://disprog.ubaya.com/menuWebService/tambahMenuResponse" message="tns:tambahMenuResponse"/>
</operation>
<operation name="tambahOrder">
<input wsam:Action="http://disprog.ubaya.com/menuWebService/tambahOrderRequest" message="tns:tambahOrder"/>
<output wsam:Action="http://disprog.ubaya.com/menuWebService/tambahOrderResponse" message="tns:tambahOrderResponse"/>
</operation>
</portType>
<binding name="menuWebServicePortBinding" type="tns:menuWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lihatMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tambahMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tambahOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="menuWebService">
<port name="menuWebServicePort" binding="tns:menuWebServicePortBinding">
<soap:address location="http://localhost:8080/EzBookingWebService/menuWebService"/>
</port>
</service>
</definitions>