EzBookingClient/src/META-INF/wsdl/localhost_8080/EzBookingWebService/reservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://disprog.ubaya.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://disprog.ubaya.com/" name="reservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://disprog.ubaya.com/" schemaLocation="http://localhost:8080/EzBookingWebService/reservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="ambil_id">
<part name="parameters" element="tns:ambil_id"/>
</message>
<message name="ambil_idResponse">
<part name="parameters" element="tns:ambil_idResponse"/>
</message>
<message name="give_rating">
<part name="parameters" element="tns:give_rating"/>
</message>
<message name="give_ratingResponse">
<part name="parameters" element="tns:give_ratingResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="insertDataReservasi">
<part name="parameters" element="tns:insertDataReservasi"/>
</message>
<message name="insertDataReservasiResponse">
<part name="parameters" element="tns:insertDataReservasiResponse"/>
</message>
<message name="jumlahKetersediaanMeja">
<part name="parameters" element="tns:jumlahKetersediaanMeja"/>
</message>
<message name="jumlahKetersediaanMejaResponse">
<part name="parameters" element="tns:jumlahKetersediaanMejaResponse"/>
</message>
<message name="showListIdRestaurant">
<part name="parameters" element="tns:showListIdRestaurant"/>
</message>
<message name="showListIdRestaurantResponse">
<part name="parameters" element="tns:showListIdRestaurantResponse"/>
</message>
<message name="showListRestaurant">
<part name="parameters" element="tns:showListRestaurant"/>
</message>
<message name="showListRestaurantResponse">
<part name="parameters" element="tns:showListRestaurantResponse"/>
</message>
<message name="showReservasiUser">
<part name="parameters" element="tns:showReservasiUser"/>
</message>
<message name="showReservasiUserResponse">
<part name="parameters" element="tns:showReservasiUserResponse"/>
</message>
<portType name="reservationWebService">
<operation name="ambil_id">
<input wsam:Action="http://disprog.ubaya.com/reservationWebService/ambil_idRequest" message="tns:ambil_id"/>
<output wsam:Action="http://disprog.ubaya.com/reservationWebService/ambil_idResponse" message="tns:ambil_idResponse"/>
</operation>
<operation name="give_rating">
<input wsam:Action="http://disprog.ubaya.com/reservationWebService/give_ratingRequest" message="tns:give_rating"/>
<output wsam:Action="http://disprog.ubaya.com/reservationWebService/give_ratingResponse" message="tns:give_ratingResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://disprog.ubaya.com/reservationWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://disprog.ubaya.com/reservationWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="insertDataReservasi">
<input wsam:Action="http://disprog.ubaya.com/reservationWebService/insertDataReservasiRequest" message="tns:insertDataReservasi"/>
<output wsam:Action="http://disprog.ubaya.com/reservationWebService/insertDataReservasiResponse" message="tns:insertDataReservasiResponse"/>
</operation>
<operation name="jumlahKetersediaanMeja">
<input wsam:Action="http://disprog.ubaya.com/reservationWebService/jumlahKetersediaanMejaRequest" message="tns:jumlahKetersediaanMeja"/>
<output wsam:Action="http://disprog.ubaya.com/reservationWebService/jumlahKetersediaanMejaResponse" message="tns:jumlahKetersediaanMejaResponse"/>
</operation>
<operation name="showListIdRestaurant">
<input wsam:Action="http://disprog.ubaya.com/reservationWebService/showListIdRestaurantRequest" message="tns:showListIdRestaurant"/>
<output wsam:Action="http://disprog.ubaya.com/reservationWebService/showListIdRestaurantResponse" message="tns:showListIdRestaurantResponse"/>
</operation>
<operation name="showListRestaurant">
<input wsam:Action="http://disprog.ubaya.com/reservationWebService/showListRestaurantRequest" message="tns:showListRestaurant"/>
<output wsam:Action="http://disprog.ubaya.com/reservationWebService/showListRestaurantResponse" message="tns:showListRestaurantResponse"/>
</operation>
<operation name="showReservasiUser">
<input wsam:Action="http://disprog.ubaya.com/reservationWebService/showReservasiUserRequest" message="tns:showReservasiUser"/>
<output wsam:Action="http://disprog.ubaya.com/reservationWebService/showReservasiUserResponse" message="tns:showReservasiUserResponse"/>
</operation>
</portType>
<binding name="reservationWebServicePortBinding" type="tns:reservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ambil_id">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="give_rating">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertDataReservasi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="jumlahKetersediaanMeja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showListIdRestaurant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showListRestaurant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showReservasiUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="reservationWebService">
<port name="reservationWebServicePort" binding="tns:reservationWebServicePortBinding">
<soap:address location="http://localhost:8080/EzBookingWebService/reservationWebService"/>
</port>
</service>
</definitions>