EzBookingClient/src/META-INF/wsdl/localhost_8080/EzBookingWebService/restaurantWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://disprog.ubaya.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://disprog.ubaya.com/" name="restaurantWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://disprog.ubaya.com/" schemaLocation="http://localhost:8080/EzBookingWebService/restaurantWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="showReservasiOnProcess">
<part name="parameters" element="tns:showReservasiOnProcess"/>
</message>
<message name="showReservasiOnProcessResponse">
<part name="parameters" element="tns:showReservasiOnProcessResponse"/>
</message>
<message name="updateDataRestaurant">
<part name="parameters" element="tns:updateDataRestaurant"/>
</message>
<message name="updateDataRestaurantResponse">
<part name="parameters" element="tns:updateDataRestaurantResponse"/>
</message>
<message name="insertDataRestaurant">
<part name="parameters" element="tns:insertDataRestaurant"/>
</message>
<message name="insertDataRestaurantResponse">
<part name="parameters" element="tns:insertDataRestaurantResponse"/>
</message>
<message name="updateStatusReservasi">
<part name="parameters" element="tns:updateStatusReservasi"/>
</message>
<message name="updateStatusReservasiResponse">
<part name="parameters" element="tns:updateStatusReservasiResponse"/>
</message>
<message name="showListDataRestaurant">
<part name="parameters" element="tns:showListDataRestaurant"/>
</message>
<message name="showListDataRestaurantResponse">
<part name="parameters" element="tns:showListDataRestaurantResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="showReport">
<part name="parameters" element="tns:showReport"/>
</message>
<message name="showReportResponse">
<part name="parameters" element="tns:showReportResponse"/>
</message>
<message name="getStatusReservasi">
<part name="parameters" element="tns:getStatusReservasi"/>
</message>
<message name="getStatusReservasiResponse">
<part name="parameters" element="tns:getStatusReservasiResponse"/>
</message>
<message name="GetIdRestaurant">
<part name="parameters" element="tns:GetIdRestaurant"/>
</message>
<message name="GetIdRestaurantResponse">
<part name="parameters" element="tns:GetIdRestaurantResponse"/>
</message>
<message name="showReservasi">
<part name="parameters" element="tns:showReservasi"/>
</message>
<message name="showReservasiResponse">
<part name="parameters" element="tns:showReservasiResponse"/>
</message>
<portType name="restaurantWebService">
<operation name="showReservasiOnProcess">
<input wsam:Action="http://disprog.ubaya.com/restaurantWebService/showReservasiOnProcessRequest" message="tns:showReservasiOnProcess"/>
<output wsam:Action="http://disprog.ubaya.com/restaurantWebService/showReservasiOnProcessResponse" message="tns:showReservasiOnProcessResponse"/>
</operation>
<operation name="updateDataRestaurant">
<input wsam:Action="http://disprog.ubaya.com/restaurantWebService/updateDataRestaurantRequest" message="tns:updateDataRestaurant"/>
<output wsam:Action="http://disprog.ubaya.com/restaurantWebService/updateDataRestaurantResponse" message="tns:updateDataRestaurantResponse"/>
</operation>
<operation name="insertDataRestaurant">
<input wsam:Action="http://disprog.ubaya.com/restaurantWebService/insertDataRestaurantRequest" message="tns:insertDataRestaurant"/>
<output wsam:Action="http://disprog.ubaya.com/restaurantWebService/insertDataRestaurantResponse" message="tns:insertDataRestaurantResponse"/>
</operation>
<operation name="updateStatusReservasi">
<input wsam:Action="http://disprog.ubaya.com/restaurantWebService/updateStatusReservasiRequest" message="tns:updateStatusReservasi"/>
<output wsam:Action="http://disprog.ubaya.com/restaurantWebService/updateStatusReservasiResponse" message="tns:updateStatusReservasiResponse"/>
</operation>
<operation name="showListDataRestaurant">
<input wsam:Action="http://disprog.ubaya.com/restaurantWebService/showListDataRestaurantRequest" message="tns:showListDataRestaurant"/>
<output wsam:Action="http://disprog.ubaya.com/restaurantWebService/showListDataRestaurantResponse" message="tns:showListDataRestaurantResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://disprog.ubaya.com/restaurantWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://disprog.ubaya.com/restaurantWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="showReport">
<input wsam:Action="http://disprog.ubaya.com/restaurantWebService/showReportRequest" message="tns:showReport"/>
<output wsam:Action="http://disprog.ubaya.com/restaurantWebService/showReportResponse" message="tns:showReportResponse"/>
</operation>
<operation name="getStatusReservasi">
<input wsam:Action="http://disprog.ubaya.com/restaurantWebService/getStatusReservasiRequest" message="tns:getStatusReservasi"/>
<output wsam:Action="http://disprog.ubaya.com/restaurantWebService/getStatusReservasiResponse" message="tns:getStatusReservasiResponse"/>
</operation>
<operation name="GetIdRestaurant">
<input wsam:Action="http://disprog.ubaya.com/restaurantWebService/GetIdRestaurantRequest" message="tns:GetIdRestaurant"/>
<output wsam:Action="http://disprog.ubaya.com/restaurantWebService/GetIdRestaurantResponse" message="tns:GetIdRestaurantResponse"/>
</operation>
<operation name="showReservasi">
<input wsam:Action="http://disprog.ubaya.com/restaurantWebService/showReservasiRequest" message="tns:showReservasi"/>
<output wsam:Action="http://disprog.ubaya.com/restaurantWebService/showReservasiResponse" message="tns:showReservasiResponse"/>
</operation>
</portType>
<binding name="restaurantWebServicePortBinding" type="tns:restaurantWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="showReservasiOnProcess">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateDataRestaurant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertDataRestaurant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStatusReservasi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showListDataRestaurant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showReport">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStatusReservasi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetIdRestaurant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showReservasi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="restaurantWebService">
<port name="restaurantWebServicePort" binding="tns:restaurantWebServicePortBinding">
<soap:address location="http://localhost:8080/EzBookingWebService/restaurantWebService"/>
</port>
</service>
</definitions>