EzBookingClient/src/META-INF/wsdl/localhost_8080/EzBookingWebService/restaurantWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://disprog.ubaya.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://disprog.ubaya.com/">

<xs:element name="GetIdRestaurant" type="tns:GetIdRestaurant"/>

<xs:element name="GetIdRestaurantResponse" type="tns:GetIdRestaurantResponse"/>

<xs:element name="getStatusReservasi" type="tns:getStatusReservasi"/>

<xs:element name="getStatusReservasiResponse" type="tns:getStatusReservasiResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertDataRestaurant" type="tns:insertDataRestaurant"/>

<xs:element name="insertDataRestaurantResponse" type="tns:insertDataRestaurantResponse"/>

<xs:element name="showListDataRestaurant" type="tns:showListDataRestaurant"/>

<xs:element name="showListDataRestaurantResponse" type="tns:showListDataRestaurantResponse"/>

<xs:element name="showReport" type="tns:showReport"/>

<xs:element name="showReportResponse" type="tns:showReportResponse"/>

<xs:element name="showReservasi" type="tns:showReservasi"/>

<xs:element name="showReservasiOnProcess" type="tns:showReservasiOnProcess"/>

<xs:element name="showReservasiOnProcessResponse" type="tns:showReservasiOnProcessResponse"/>

<xs:element name="showReservasiResponse" type="tns:showReservasiResponse"/>

<xs:element name="updateDataRestaurant" type="tns:updateDataRestaurant"/>

<xs:element name="updateDataRestaurantResponse" type="tns:updateDataRestaurantResponse"/>

<xs:element name="updateStatusReservasi" type="tns:updateStatusReservasi"/>

<xs:element name="updateStatusReservasiResponse" type="tns:updateStatusReservasiResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showReservasi">
<xs:sequence>
<xs:element name="idRestaurant" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showReservasiResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservasi" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservasi">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="accountUsername" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="jumlahMeja" type="xs:int"/>
<xs:element name="jumlahOrang" type="xs:int"/>
<xs:element name="penilaianBintang" type="xs:int"/>
<xs:element name="restaurant" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="tanggalPesanan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="myModel" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetIdRestaurant">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetIdRestaurantResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showReservasiOnProcess">
<xs:sequence>
<xs:element name="idRestaurant" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showReservasiOnProcessResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservasi" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStatusReservasi">
<xs:sequence>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="idReservasi" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStatusReservasiResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStatusReservasi">
<xs:sequence>
<xs:element name="idReservasi" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStatusReservasiResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showListDataRestaurant">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showListDataRestaurantResponse">
<xs:sequence>
<xs:element name="return" type="tns:restaurant" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restaurant">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="alamatRestaurant" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="max_table" type="xs:int"/>
<xs:element name="namaPemilik" type="xs:string" minOccurs="0"/>
<xs:element name="namaRestaurant" type="xs:string" minOccurs="0"/>
<xs:element name="totalBintang" type="xs:int"/>
<xs:element name="total_Pelanggan" type="xs:int"/>
<xs:element name="usernameRestaurant" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="insertDataRestaurant">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="ownerName" type="xs:string" minOccurs="0"/>
<xs:element name="nama_resto" type="xs:string" minOccurs="0"/>
<xs:element name="alamat" type="xs:string" minOccurs="0"/>
<xs:element name="max_table" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataRestaurantResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDataRestaurant">
<xs:sequence>
<xs:element name="ownerName" type="xs:string" minOccurs="0"/>
<xs:element name="nama_resto" type="xs:string" minOccurs="0"/>
<xs:element name="alamat" type="xs:string" minOccurs="0"/>
<xs:element name="max_table" type="xs:int"/>
<xs:element name="id_restaurant" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDataRestaurantResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showReport">
<xs:sequence>
<xs:element name="idRestaurant" type="xs:int"/>
<xs:element name="accountUsername" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showReportResponse">
<xs:sequence>
<xs:element name="return" type="tns:report" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="report">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="account_username" type="xs:string" minOccurs="0"/>
<xs:element name="foodQuality" type="xs:double"/>
<xs:element name="idRestaurant" type="xs:int"/>
<xs:element name="qualityOfService" type="xs:double"/>
<xs:element name="review" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>